<ion-header>
  <!-- <ion-toolbar>
    <ion-title>branchselection</ion-title>
  </ion-toolbar> -->


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content no-padding>
  <div id="branchselectionPageContent" >



  <ion-list >
      <ion-list-header id="branchHeader">
          <ion-label>Choose your branch</ion-label>
        </ion-list-header>
  </ion-list>



  <ion-list *ngIf="isListDataAvailable">
    <ion-radio-group>

      <ion-item *ngFor="let branchlist of allBranchList" (ionSelect)="getSelectedBranch($event)" lines="none"> 
        <ion-label>{{branchlist.BRANCH_NAME}}</ion-label>
        <ion-radio slot="start" [value]="branchlist.BRANCH_CODE"></ion-radio>
      </ion-item>
  
   
    </ion-radio-group>
  </ion-list>

    <!-- Skeleton screen -->
    <div *ngIf="!isListDataAvailable">
      <ion-list>
        <ion-item *ngFor="let dummy of ' '.repeat(10).split(''), let x = index">
          <ion-label>
            <h3>
              <ion-skeleton-text animated="true" style="width: 90%"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    



</div>

</ion-content>


<ion-footer text-center id="branchselectionPageFooter">
    <ion-button color="danger" shape="round" (click)="next()" >Next <ion-icon name="arrow-forward"></ion-icon></ion-button>
</ion-footer>
