// ion-content#branchselectionPageContent{
   
//    --background-image : url('assets/layout/branch_sel_bg.jpg') 0 0/100% 100% no-repeat;
// }

#branchselectionPageContent {
        
        #branchHeader {
                background: #ffffff;
                padding: 1% 20px;
                color: #626262 !important;
                margin-top: 0%;

                ion-label {
                   font-size: 1rem;
                }
        }
}

ion-footer#branchselectionPageFooter{
    
        padding: 2% 0;
    
}