#memberAssignmentProfilePage{
    background: transparent;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    #memberProfileBlock{
       max-height:50%;

       #profileImg{
           img {
            width: 120px;
            height: 120px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 73px;
            border: 7px solid #F02608;
            box-shadow: 0px 13px 54px 1px #DB1700;
            margin-top: 5%;
           }
       }

       #memberDesc{
           color:#FFF;
           font-size: 0.8rem;
           text-align: center;

           #membername{
               font-size: 1.2rem;
               font-weight:500;
               text-transform: uppercase;
           }
       }
       #memberHighlightDesc{
           text-align: center;
           color:#FFF;

                ion-chip{
                    color: #fff;
                    --background: transparent;
                    font-weight: 700;
                    border: 1px solid #ED4E34;

                ion-icon {
                    color: #FFF;
                }
           }

       }
    }


    // #memberMachineAssignmentBlock {
    //     .customeSearchable {
    //         ion-label {
    //             font-size:0.8rem;
    //             letter-spacing: 1px;
    //         }

    //         ion-button{
    //             width: 50%;
    //             margin: 0 auto;
    //         }
    //     }
    // }


    #machineassignmentBlock {

        form{
            width:100%;
        }

        ion-card {
            ion-list {
                width:100%;
                padding:0px;
                    
                background: transparent;

                ion-item{
                    --background: transparent;
                    border: 1px solid #e9e9e9;
                    margin: 5px 0px;
                    border-radius: 8px;

                    ion-label{
                        font-size: 0.8rem;
                        letter-spacing: 2px;
                        font-weight: 600;
                    }

                    .item-native {
                        --background: transparent !important;
                    }
                }
            }



            #machineassigntoMember {
                .buttonitem{
                    border:0px;
                }
                ion-button{
                    --background: #e93115;
                    min-height: 36px;
                    font-size: 0.7rem;
                    letter-spacing: 2px;
                }
            }

            #memberCalorieBlock{
                
                ion-item{
                    border:0px;
                }
                .borderLineItem{

                    ion-item{
                        --background: transparent;
                        border: 1px solid #e9e9e9;
                        margin: 5px 0px;
                        border-radius: 8px;
                    }
                }

                ion-button{
                    --background: #0e8044;
                    min-height: 36px;
                    font-size: 0.7rem;
                    letter-spacing: 2px;
                }

                ion-row{
                    text-align:center;
                    ion-col{
                        //box-shadow: -64px -23px 69px 0px #323232;
                        border-radius: 0px;
                       // background: #e93013;
                        color: #FFF;
                        font-weight: 700;
                        font-size: 1.5rem;
                        margin: 5px -5px;

                        .time_count{
                            font-size: 1em;
                            font-weight: 700;
                        }

                        .time_txt {
                            font-size: 0.8rem;
                            letter-spacing: 2px;
                        }
                    }
                }
            }

        }
    }

}

