<ion-content no-padding id="roleoptionmainviewPage">

<div id="roleopt_upperLayout">
    <ion-img src="assets/mantra_logo.png"></ion-img>
    <h3>Mantra</h3>
    <p>LIFE STYLE HEALTH CLUB</p>
</div>


<div id="roleopt_loweLayout">
    <ion-grid>

        <ion-row text-center>
          <ion-col>
            <div>
                <ion-card id="card1">
                    <ion-card-header>
                        <ion-card-subtitle><ion-icon name="people"></ion-icon></ion-card-subtitle>
                        <ion-card-title>Employee</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                              <!-- Go through QR attendance -->
                    </ion-card-content>
                </ion-card>
            </div>
          </ion-col>
          <ion-col>
                <div>
                    <ion-card id="card2">
                            <ion-card-header>
                                <ion-card-subtitle><ion-icon name="bicycle"></ion-icon></ion-card-subtitle>
                                <ion-card-title>Trainer</ion-card-title>
                            </ion-card-header>
                                  
                            <ion-card-content>
                                    <!-- View and assign members activity -->
                            </ion-card-content>
                    </ion-card>
                </div>
          </ion-col>
        </ion-row>


        <ion-row text-center>
                <ion-col>
                    <div>
                      <ion-card id="card3">
                          <ion-card-header>
                            <ion-card-subtitle><ion-icon name="qr-scanner"></ion-icon></ion-card-subtitle>
                            <ion-card-title>QR Scan</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                                <!-- Scanner for attendance -->
                          </ion-card-content>
                      </ion-card>
                    </div>
                </ion-col>
                <ion-col>
                        <div>
                            <ion-card id="card4">
                                  <ion-card-header>
                                      <ion-card-subtitle><ion-icon name="help"></ion-icon></ion-card-subtitle>
                                      <ion-card-title>Help</ion-card-title>
                                  </ion-card-header>
                                  <ion-card-content>
                                         <!-- Want to know how it works   -->
                                  </ion-card-content>
                            </ion-card>
                        </div>
                </ion-col>
        </ion-row>
       
      </ion-grid>
</div>

</ion-content>
