#exerciseSelectionPageContent{

    #exerciseHeader {
        background: #ffffff;
        padding: 1% 20px;
        color: #626262 !important;
        margin-top: 0%;

                ion-label {
                   font-size: 1rem;
                }
    }
    
}
ion-footer#exerciseSelectionPageFooter{
    
    padding: 2% 0;

}