<ion-content no-padding>
  <div id="employeeQRgenerationPage">

      <h6>Employee Attendance </h6>
      <form [formGroup]="emplMobileForm" >
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Verify your mobile</ion-card-subtitle>
           
              
            </ion-card-header>
          
            <ion-card-content>

                <ion-item no-lines>
                    <ion-input type="number" clearInput placeholder="" formControlName="emplMobileNo"></ion-input> 
                </ion-item>

                <ion-grid>
                  <ion-row *ngIf="!isMobileNoVerified">
                    <ion-col text-center>
                        <ion-button *ngIf="isSubmitClicked"><ion-spinner name="crescent"></ion-spinner></ion-button>
                      <ion-button (click)="verifyMbl()" *ngIf="!isSubmitClicked">Verify & Generate <ion-icon name="arrow-round-forward"></ion-icon></ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="isMobileNoVerified">
                    <ion-col text-center>
                      <ion-button style="--background: rgb(0, 162, 36);">Verified <ion-icon name="checkmark-circle"></ion-icon> </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col text-center>
                     <p style="font-size: 11px;">Verify your mobile no and generate QR code for attendance.</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                

            </ion-card-content>
        </ion-card>
      </form>

     

      <div id="qrSection" >

          <!-- <qrcode [qrdata]="'bjhbjhn jhkjh k'" [size]="110" [level]="'M'" ></qrcode> -->
          <div *ngIf="isMobileNoVerified">
            <qrcode [qrdata]="employeeQRCode" [size]="180" [level]="'M'" ></qrcode>
          </div>


          <ion-spinner *ngIf="isLoaderEnable" name="dots"></ion-spinner>
        <!-- <qrcode *ngIf="!isLoaderEnable && employeeQRCode!=null" [qrdata]="employeeQRCode" colorlight="#ed5417" colordark="#FFF" allowEmptyString="false" [size]="110" [level]="'M'" [usesvg]="true"></qrcode> -->
      </div>
      <p id="qrscantxt">Scan QR Code</p>
     
  </div>
</ion-content>
