#calorieAssingmentPage{

    ion-card {
        color: #FFF;
        ion-card-content {
            h4,h5{
                letter-spacing: 1px;
                padding-bottom: 2%;
                font-weight: 700;
            }
            h5{
              // font-size: 1.2rem;
            }
            p{
                font-size: 0.7rem;
                font-weight:700;

              
                margin-right: 0;
                margin-top: -8px;
                margin-bottom: 13px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
            }
            img{
              //  width: 72%;
              //  border-radius: 20px;
              width: 75px;
              height:75px;
              border-radius: 150px;
            }

            ion-item {
                --padding-start: 0px !important;
                --border-radius: 10px !important;
                --padding: 0;
                --background: #FFF;
                border: 0px solid #f25315;
               // box-shadow: 13px 7px 11px 0px #a42b03;

                // ion-input{
                //     text-indent: 15px;
                //     .native-input{
                //         text-indent: 15px;
                //         --padding: 0px;
                //         color: #FFF;
                //     }
                // }

                ion-input::shadow input {
                    color: var(--ion-color-primary);
                    text-indent: 15px;
                  }

                ion-button{
                    --background: #f2460e;
                }

            }

            ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h {

                --padding-start: 12px;
            
            }

        }
    
    }
}