#qrCodeModal{
    background: rgb(255, 99, 9);
    position: relative;
    height:100%;
    padding-top: 5rem;

    ion-card{
        margin:0;
        width: 60%;
        margin: 0 auto;
        background: #FFF;

        ion-card-header{

            background: #f9f9f9;
            margin-bottom: 12%;

            ion-card-title{
                text-align: center;
            }
        }

        ion-card-content{
            p{
                padding-top: 10%;
                text-align: center;
                letter-spacing: 1px;
                font-size: 12px;
            }
        }
        
    }

    #close{
        position: absolute;
        bottom: 7rem;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;

        ion-icon{
            font-size: 2rem;
            color: #FFF;
            box-shadow: 2px 2px 8px #ae4609;
            border-radius: 50px;
            padding: 2%;
        }
    }
}

