<!-- <ion-header>
  <ion-toolbar>
    <ion-title>nonassignedmembertab</ion-title>
  </ion-toolbar>1
</ion-header> -->

<ion-content no-padding>

    <ion-list *ngIf="isListDataAvailable">
          <ion-item *ngFor="let member of todaysMemberList ; let i=index" (click)="goToMemberAssignment(member)">
            <ion-avatar slot="start">
              <img src="https://www.mantrahealthzone.co.in/images/team_mantra/793940_234_5271avirup%20chowdhury.jpg">
            </ion-avatar>
            <ion-label>
              <!-- <p>{{i+1}}</p> -->
              <p>{{member.MEMBERSHIP_NO}}</p>
              <p>{{member.CUS_NAME}}</p>
            
          
            </ion-label>
            <ion-icon name="add-circle" slot="end" style="color: #f84d39;"></ion-icon>
          </ion-item>
    </ion-list>





    <!-- Skeleton screen -->

  <!-- Skeleton screen -->
  <div *ngIf="!isListDataAvailable">


    <ion-list>
   
      <ion-item *ngFor="let dummy of ' '.repeat(10).split(''), let x = index">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated="true" style="width: 90%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated="true" style="width: 70%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated="true" style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
     
      
    </ion-list>
  </div>
  
  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>





</ion-content>
