<ion-content no-padding>
  <div id="memberemployeeQRlayoutPage">
      <div id="upperMemberQrLayout">

        <div class="iconwithtitleQRT memberIcon">
          <ion-icon name="people"></ion-icon>
          <h6 style="margin-top: -16px;">Member</h6>
        </div>
      
      <ion-grid>
        <ion-row>
          <ion-col text-center>
              <ion-button (click)="openQRScanner('MEMBER','')">
                 Scan Now&nbsp;<ion-icon name="expand"></ion-icon>
              </ion-button>
          </ion-col>
          <!-- <ion-col text-left>
              <ion-button (click)="openQRScanner('MEMBER','OUT')">
                 OUT
                  <ion-icon name="arrow-round-forward"></ion-icon>
              </ion-button>
          </ion-col> -->
        </ion-row>
      </ion-grid>


      </div><!-- end of upperMemberQrLayout-->
      <div id="middleLayout">
        <div id="memberInstruction">
          <!-- <p class="htmlicon_attd">&#x261D;</p>
          <p>For Member attendance please choose member IN or OUT </p> -->
        </div>
        <hr class="customHR" />
        <hr>
        <div id="employeeInstruction">
            <!-- <p>For employee attendance please choose employee IN or OUT </p>
            <p class="htmlicon_attd">&#x261F;</p> -->
          </div>
      </div>

      <div id="lowerEmployeeQrLayout">
          <div class="iconwithtitleQRT employeeIcon">
              <ion-icon name="briefcase"></ion-icon>
              <h6 >Employee</h6>
          </div>
          <ion-grid>
              <ion-row>
                <ion-col text-right>
                    <ion-button (click)="openQRScanner('EMPLOYEE','IN')">
                        <ion-icon name="arrow-round-back"></ion-icon> IN&nbsp;
                    </ion-button>
                </ion-col>
                <ion-col text-left>
                    <ion-button (click)="openQRScanner('EMPLOYEE','OUT')">
                       OUT
                        <ion-icon name="arrow-round-forward"></ion-icon>
                    </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
      </div><!-- end of upperMemberQrLayout-->
  </div>
</ion-content>
