<ion-content no-padding>
  <div id="memberemployeeQRlayoutPage">
      <div id="upperMemberQrLayout">

        <div class="iconwithtitleQRT">
          <ion-icon name="people"></ion-icon>
          <h6 style="margin-top: -20px;">Member</h6>
        </div>
      
      <ion-grid>
        <ion-row>
          <ion-col text-right>
              <ion-button>
                  <ion-icon slot="start" name="star"></ion-icon>
                  IN
              </ion-button>
          </ion-col>
          <ion-col text-left>
              <ion-button>
                  OUT
                  <ion-icon slot="end" name="star"></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


      </div><!-- end of upperMemberQrLayout-->

      <div id="lowerEmployeeQrLayout">
          <div class="iconwithtitleQRT">
              <ion-icon name="briefcase"></ion-icon>
              <h6 >Employee</h6>
          </div>
        <ion-grid>
            <ion-row>
              <ion-col text-right>
                  <ion-button>
                      <ion-icon slot="start" name="star"></ion-icon>
                      IN
                  </ion-button>
              </ion-col>
              <ion-col text-left>
                  <ion-button>
                      OUT
                      <ion-icon slot="end" name="star"></ion-icon>
                  </ion-button>
              </ion-col>
            </ion-row>
        </ion-grid>
      </div><!-- end of upperMemberQrLayout-->
  </div>
</ion-content>
